{% extends 'main.html' %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-10">
        <form class="form" action="{% url 'register'%}" method="POST">
        {% csrf_token %}

        {% for field in form %}

            {% for error in field.errors %}
                <p style='color: red;'>{{error}}</p>
            {% endfor %}


            <div>
            <label for="">{{field.label}}</label>
            {{field}}
            </div>
            
            {% if field.help_text %}
            <small>{{field.help_text}}</small>
            {% endif %}
           
        {% endfor %}
          
        <br><br><br>
          <div class="row">
            <input type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}

